<div class="blog-entry">
  <div class="blog-image">
      <img [src]="entry.image" alt="entry.title">
  </div>
  <div class="blog-summary">
      <span class="title"> {{entry.title}} </span>
      <p> {{entry.text}} </p>
  </div>
</div>